# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE generated
*.csproj
*.sln
*.user
*.unityproj

# Rider / VSCode
.vs/
.vscode/

# Secret environments
**/*.env
**/*.env.*